<div class="row-fluid">
		<div class="span10">
			<h3>Project Forum</h3>
		</div>
		<div class="span2">
			<div align="right">
				<a class="btn btn-primary btn-medium" href="createForumPost">Create new post</a>
			</div>
		</div>	
</div>

		


<div class="row-fluid">
	
		<div class="span12">
			<h3> Recent Post(s)</h3>
			<hr>
			<div>
				<% if @res == "empty" -%>
					<p> No post(s) found! Maybe create one!!</p>
				<% else -%>
					<% @res.each do |r1,r2,r3,r4,r5,r6,r7| -%>
							<div>
								<h4>
								<span title="View post"><%= link_to r3, 
								{:controller => "webportal", :action => "viewPostById",:postid => r7} %></span>
								</h4>
								<p style="color:#808080">post creation info:
								<span title="created by"><i class="icon-user"></i> <%= r1 %></span> &nbsp;
								<span title="created at"><i class="icon-time"></i> <%= r5 %></span>
								</p>
							</div>	
			 		<% end -%>
			 	<%end -%>
			</div>
					
		</div>
</div>


