<div class="row-fluid">

      <div class="container">
      
      <div class="span4">
          <h2>Project</h2>
          <p>All cancers arise due to alterations in their genomes. Although insight into the genetic lesions in tumours by genome sequencing does already assist in selecting some drug regimens, it rarely results in disease ... </p>
          <p><a class="btn" href="project">View project &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Members</h2>
          <p>This project is a collaboration between researchers from the Netherlands Cancer Institute (NKI) and from the Welcome Trust Sanger Institute (WTSI). A detailed list of members can be found. </p>
          <p><a class="btn" href="members">View members &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Wiki</h2>
          <p>The combat-cancer project wiki contains details about the project, members, working groups and so on. Clink on the button below to acees the project wiki. </p>
          <br>
          <p><a class="btn" href="wiki">View wiki &raquo;</a></p>
      </div>

      </div>
	
      <div class="container">

      <div class="span4">
          <h2>Files</h2>
          <p>In this section, you can browse the resource (e.g. presentations, notes, plans) and data (e.g. sequencing, expression, drug response) files and also upload yours.</p> 
          </br>
          <p><a class="btn" href="data">View files &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Data Overview</h2>
          <p>In this section, you can get an overview of the data sets from different cancer types and working groups. Also find out what type of analysis data is available for different samples.</p>
          <p><a class="btn" href="overview">View details &raquo;</a></p>
      </div>
      	

      <div class="span4">
          <h2>Tickets</h2>
          <p>Create tickets for the admin if you face any difficulty in this webportal. Please notify if you think some functionality is not proper or you can post any question regarding the data as well. </p>
          <p><a class="btn" href="tickets">View tickets &raquo;</a></p>
      </div>
      
      </div>

      <div class="container">

      <div class="span4">
          <h2>Hey, <%= @firstname %></h2>
          <p>Section for managing your basic profile information, adding necessary details to it, so that other members of this web-portal can gain insight on you and your research work.</p>
          <p><a class="btn" href="profile">View profile &raquo;</a></p>
      </div>


      <div class="span4">
          <h2>Admin</h2>
          <p>Section only for admins to manage data and resource files in the project and the webportal itself.</p>
          </br>
          </br>
          <p><a class="btn" href="admin">View details &raquo;</a></p>
      </div>

      
      </div>



</div>