<div class="row-fluid">

	<div class="container">
      
      <div class="span4">
          <h2>Public Contents</h2>
          <p>Section containing all the things for public access regarding the combat cancer project. You can edit the template with contents and add new things as well.</p>
          </br>
          <p><a class="btn" href="publicsView">View section &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Members</h2>
          <p>This project is a collaboration between researchers from the Netherlands Cancer Institute (NKI) and from the Welcome Trust Sanger Institute (WTSI). A detailed list of members can be found. </p>
          <p><a class="btn" href="members">View members &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Wiki</h2>
          <p>The combat-cancer project wiki contains details about the project, members, working groups and so on. Clink on the button below to accees the project wiki. </p>
          <br>
          <p><a class="btn" href="wiki">View wiki &raquo;</a></p>
      </div>

      </div>
	
      <div class="container">

      <div class="span4">
          <h2>Files</h2>
          <p>In this section, you can browse the resource (e.g. presentations, notes, plans) and data (e.g. sequencing, expression, drug response) files and also upload yours.</p> 
          </br>
          <p><a class="btn" href="data">View files &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Data Overview</h2>
          <p>In this section, you can get an overview of the data sets from different cancer types and working groups. Also find out what type of analysis data is available for different samples.</p>
          <p><a class="btn" href="overview">View details &raquo;</a></p>
      </div>
      	

      <div class="span4">
          <h2>Tickets</h2>
          <p>Create tickets for the admin if you face any difficulty in this webportal. Please notify if you think some functionality is not proper or you can post any question regarding the data as well. </p>
          <p><a class="btn" href="tickets">View tickets &raquo;</a></p>
      </div>
      
      </div>

      <div class="container">

      <div class="span4">
          <h2>Forum</h2>
          <p>Section for creating posts regarding the project where other project memebers can also share their views and opinions on specific things.</p>
          </br>
          <p><a class="btn" href="forum">View forum &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Meetings</h2>
          <p>Section for viewing upcoming meetings/events in the project. You can also provide your attendance details on each meeting.</p>
          </br>
          <p><a class="btn" href="allmeetings">View meetings &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Hey, <%= @firstname %></h2>
          <p>Section for managing your basic profile information, adding necessary details to it, so that other members of this web-portal can gain insight on you and your research work.</p>
          <p><a class="btn" href="profile">View profile &raquo;</a></p>
      </div>

	  </div>
	  
      <div class="container">

      <div class="span4">
          <h2>Tools</h2>
          <p>Section with all the tools used by project members. You can find all the details about specific tool. You can also add your own tool or tools that you use.</p>
          <p><a class="btn" href="tools">View tools &raquo;</a></p>
      </div>

      <div class="span4">
          <h2>Newsletters</h2>
          <p>Section with all the newsletters published for the combat-cancer project.</p>
          </br>
          <p><a class="btn" href="allnewsletters">View newsletters &raquo;</a></p>
      </div>

	  </div>		

</div>