/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require jquery.ui.all
 *= require jquery.modal
 *= require dataTables/jquery.dataTables
 */

body{
	padding-top:75px;
	padding-bottom:50px;
}
.notice, .valid_notice, .invalid_notice{
	height: auto; 
	width: auto ;
	margin-top:5px;
}
.notice, .invalid_notice p, .valid_notice p{
	text-align:center;
	margin-top:6px;
}

.notice{
	background-color: transparent;
}

.invalid_notice{
	background-color: #FFCCCC;
	border:1px solid red;
}
.valid_notice{
	background-color: #CCFFCC;
	border:1px solid green;
}
.container .content {
    display: none;
    padding : 5px;
}
.present{
	background-color: #CCFFCC;
}
.absent{
	background-color: #FFCCCC;
}
.future{
	background-color: #B6B0B0;
}
.sample{
	background-color: #0B9238;
}
.analysis{
	background-color: #91BA08;
}
.data{
	background-color: #06A18C;
}
.screening{
	background-color: #A10682;
}
.smallt{
	font-size: 12px;
}
.ft{
	text-align:center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right:0px;
	padding-top: 15px;
	background-color: #f5f5f5f;
}

